.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ffffff;
}

.auth-form-container,
.login-form,
.register-form,
.profile {
  background-color: #bdf8d8;
  display: flex;
  flex-direction: column;
  border: none;
}

.details {
  color: black;
  float: left;
  text-align: left;
  margin-right: 120px;
}

.image {
  display: flex;
  flex-direction: column;
  padding-right: px;
}

.update-button {
  border: none;
  background-color: #8ef3bc;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #000000;
  margin-top: 10px;
}

h2 {
  color: black;
  margin-bottom: 50px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 50px;
}
::placeholder {
  font-size: 16px;
  padding-left: 15px;
}

label {
  text-align: left;
  color: #000000;
}

button {
  border: none;
  background-color: #8ef3bc;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #000000;
  margin-top: 30px;
}

p {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .auth-form-container {
    padding: 0px;
    border-radius: 40px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
}

@media screen and (min-width: 320px) {
  .details {
    color: black;
    float: left;
    text-align: left;
    margin-right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .auth-form-container {
    padding: 4rem;
    border-radius: 40px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 6rem;
    border-radius: 40px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
}

@media screen and (min-width: 600px) {
  .details {
    color: black;
    float: left;
    text-align: left;
    margin-right: 150px;
  }
}

@media screen and (min-width: 600px) {
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .auth-form-container {
    padding: 8rem;
    border-radius: 40px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .details {
    color: black;
    float: left;
    text-align: left;
    margin-right: 180px;
  }
}

@media screen and (min-width: 768px) {
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    width: 400px;
  }
}
